* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* Start header CSS */
.header__content {
    width: 99%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content span {
    font-weight: 300;
}

.header__nav {
    list-style-type: none;
}

.header__nav li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

.header__nav a {
    text-decoration: none;
    color: #252525;
    font-size: 25px;
}
/* End header CSS */

/* Start carousel CSS */
.carousel__content {
    width: 99%;
    background-image: url('../images/architect.jpg');
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content span:nth-child(1) {
    font-size: 50px;
    padding: 2px 20px;
    background-color: rgba(21, 27, 32, 0.8);
    color: #ffffff;
    margin-right: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}

.carousel__content span:nth-child(2) {
    color: white;
    font-size: 50px;
}
/* End carousel CSS */

/* Start projects CSS */
.projects_content {
    width: 99%;
    margin: 0 auto;
}

.projects_content h1 {
    margin-bottom: 10px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: 500;
}

.projects_content .line {
    border: 1px solid #cccccc;
    margin-bottom: 40px;
}

.projects_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.projects_item {
    position: relative;
}

.projects_item img {
    width: 100%;
}

.projects_item .projects_detail {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #262626;
    
}

.projects_item .projects_detail p {
    color: white;
    padding: 10px 40px;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}
/* End projects CSS */

/* Start about CSS */
.about_content {
    width: 99%;
    margin: 0 auto;
}

.about_content h1 {
    margin-bottom: 10px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: 500;
}

.about_content .line {
    border: 1px solid #cccccc;
    margin-bottom: 40px;
}

.about_content .about_intro {
    font-weight: 700;
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 50px;
}

.about_members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}

.about_member img {
    width: 100%;
}

.about_member h2 {
    font-weight: 500;
    margin: 14px 0;
    font-size: 30px;
}

.about_member span {
    font-size: 20px;
    color: #989898;
    font-weight: 700;
}

.about_member p {
    font-size: 18px;
    font-weight: 700;
    width: 90%;
}

.about_member button {
    width: 100%;
    background-color: #f0f0ef;
    border: none;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}
/* End about CSS */

/* Start contact CSS */
.contact_content {
    width: 99%;
    margin: 0 auto;
}

.contact_content h1 {
    margin-bottom: 10px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: 500;
}

.contact_content .line {
    border: 1px solid #cccccc;
    margin-bottom: 40px;
}

.contact_content p {
    font-weight: 700;
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 50px;
}

.contact_form input {
    display: block;
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
    margin-bottom: 40px;
    width: 100%;
    font-size: 20px;
}

.contact_form button {
    background-color: #252525;
    padding: 13px 30px;
    color: white;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
/* End contact CSS */